.menu {
    position :absolute;
    width: 144px;
    height: 44px;
    left: 7%;
    top: 92px;
    background: #E7F1F8;
    border: 1px solid #2F74AB;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.menu2 {
    position :absolute;
    width: 144px;
    height: 44px;
    left: 52%;
    top: 92px;
    background: #E7F1F8;
    border: 1px solid #2F74AB;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
